In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
df2=pd.DataFrame({'A':[7,8,9],'B':[10,11,12]})
display(df1,df2)

   A  B
0  1  4
1  2  5
2  3  6

   A   B
0  7  10
1  8  11
2  9  12

In [3]:
df1.append(df2)

C:\Users\USER\AppData\Local\Temp\ipykernel_14776\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

In [4]:
df1.append(df2, ignore_index = True)

C:\Users\USER\AppData\Local\Temp\ipykernel_14776\2363792934.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2, ignore_index = True)

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

In [ ]:
df1=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
df2=pd.DataFrame({'A':[7,8,9],'B':[10,11,12]})
display(df1,df2)